
html {
    color-scheme: dark light;
    font-family: system-ui, sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
button,
input,
select {
    font-size: inherit;
    color: inherit;
    max-width: 100%;
}
button,
[type="range"],
[type="color"],
select {
    cursor: pointer;
}
a {
    color: inherit;
    display: inline-block;
}
.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Страницы */
.pages {
    align-items: center;
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.pages > li {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}
/* Прайс */
.pages article {
    aspect-ratio: 4 / 5;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.pages form {
    display: flex;
    flex-direction: column;
    padding: 10% 8% 16%;
    box-sizing: border-box;
    height: 100%;
    font-size: min(4vw, 44px);
    position: relative;
}
.pages article > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pages form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.pages section + section {
    margin-top: 5.5%;
}
h2 {
    font-size: min(9vw, 100px);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pages li li {
    align-items: end;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr auto;
    font-size: min(5.5vw, 60px);
    margin-top: 1em;
}
ul:first-child li:first-child {
    margin-top: 0;
}
h1, h2, h3 {
    font-weight: inherit;
    margin: 0;
}
h1, h3 {
    font-size: inherit;
}
h1:only-child {
    font-size: min(16.5vw, 180px);
    padding-top: 10%;
    padding-bottom: 4%;
}
.pages p {
    margin: 0;
}
.pages span {
    grid-column: 1/3;
    font-size: min(4vw, 44px);
}
.pages footer  {
    justify-self: flex-end;
    margin: auto 0 0;
    padding-top: 1em;
    order: 1;
}

#export,
.visually-hidden + span {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    text-decoration: none;
}
.active[contenteditable] {
    box-shadow: 0 0 1px;
}